apiVersion: apps/v1
kind: DaemonSet
metadata:
  annotations:
    deprecated.daemonset.template.generation: "6"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"DaemonSet","metadata":{"annotations":{},"name":"parca-agent","namespace":"parca"},"spec":{"selector":{"matchLabels":{"app":"parca-agent"}},"template":{"metadata":{"labels":{"app":"parca-agent"}},"spec":{"containers":[{"args":["--remote-store-address=parca.parca.svc.cluster.local:7070","--remote-store-insecure","--cluster-name=k8s-aks"],"image":"ghcr.io/parca-dev/parca-agent:latest","name":"parca-agent","ports":[{"containerPort":7070,"hostPort":7070,"name":"http"}],"securityContext":{"capabilities":{"add":["SYS_ADMIN","SYS_PTRACE","SYS_RESOURCE"]},"privileged":true,"runAsUser":0},"volumeMounts":[{"mountPath":"/lib/modules","name":"modules","readOnly":true},{"mountPath":"/sys","name":"sys","readOnly":true},{"mountPath":"/proc","name":"proc","readOnly":true}]}],"hostNetwork":true,"hostPID":true,"volumes":[{"hostPath":{"path":"/lib/modules"},"name":"modules"},{"hostPath":{"path":"/sys"},"name":"sys"},{"hostPath":{"path":"/proc"},"name":"proc"}]}}}}
  creationTimestamp: "2025-12-29T16:53:33Z"
  generation: 6
  name: parca-agent
  namespace: parca
  resourceVersion: "1915367"
  uid: 2224ca0a-20ce-4518-8be0-668bee12d07f
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: parca-agent
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: parca-agent
    spec:
      containers:
      - args:
        - --remote-store-address=10.0.78.82:7070
        - --remote-store-insecure
        image: ghcr.io/parca-dev/parca-agent:latest
        imagePullPolicy: Always
        name: parca-agent
        ports:
        - containerPort: 7070
          hostPort: 7070
          name: http
          protocol: TCP
        resources: {}
        securityContext:
          capabilities:
            add:
            - SYS_ADMIN
            - SYS_PTRACE
            - SYS_RESOURCE
          privileged: true
          runAsUser: 0
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /lib/modules
          name: modules
          readOnly: true
        - mountPath: /sys
          name: sys
          readOnly: true
        - mountPath: /proc
          name: proc
          readOnly: true
      dnsPolicy: ClusterFirst
      hostNetwork: true
      hostPID: true
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - hostPath:
          path: /lib/modules
          type: ""
        name: modules
      - hostPath:
          path: /sys
          type: ""
        name: sys
      - hostPath:
          path: /proc
          type: ""
        name: proc
  updateStrategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
status:
  currentNumberScheduled: 2
  desiredNumberScheduled: 2
  numberAvailable: 2
  numberMisscheduled: 0
  numberReady: 2
  observedGeneration: 6
  updatedNumberScheduled: 2
