apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app.kubernetes.io/component":"observability","app.kubernetes.io/instance":"parca","app.kubernetes.io/name":"parca","app.kubernetes.io/version":"v0.24.2"},"name":"parca","namespace":"parca"},"spec":{"replicas":1,"selector":{"matchLabels":{"app.kubernetes.io/component":"observability","app.kubernetes.io/instance":"parca","app.kubernetes.io/name":"parca"}},"template":{"metadata":{"labels":{"app.kubernetes.io/component":"observability","app.kubernetes.io/instance":"parca","app.kubernetes.io/name":"parca","app.kubernetes.io/version":"v0.24.2"}},"spec":{"containers":[{"args":["/parca","--http-address=:7070","--config-path=/etc/parca/parca.yaml","--log-level=info","--cors-allowed-origins=*","--debuginfod-upstream-servers=debuginfod.systemtap.org","--debuginfod-http-request-timeout=5m"],"image":"ghcr.io/parca-dev/parca:v0.24.2","livenessProbe":{"exec":{"command":["/grpc_health_probe","-v","-addr=:7070"]},"initialDelaySeconds":5},"name":"parca","ports":[{"containerPort":7070,"name":"http"}],"readinessProbe":{"exec":{"command":["/grpc_health_probe","-v","-addr=:7070"]},"initialDelaySeconds":10},"resources":{},"securityContext":{"allowPrivilegeEscalation":false,"capabilities":{"drop":["ALL"]}},"terminationMessagePolicy":"FallbackToLogsOnError","volumeMounts":[{"mountPath":"/etc/parca","name":"config"},{"mountPath":"/var/lib/parca","name":"data"}]}],"nodeSelector":{"kubernetes.io/os":"linux"},"securityContext":{"fsGroup":65534,"runAsNonRoot":true,"runAsUser":65534,"seccompProfile":{"type":"RuntimeDefault"},"supplementalGroups":[65534]},"serviceAccountName":"parca","terminationGracePeriodSeconds":120,"volumes":[{"configMap":{"name":"parca"},"name":"config"},{"emptyDir":{},"name":"data"}]}}}}
  creationTimestamp: "2025-12-29T13:47:34Z"
  generation: 2
  labels:
    app.kubernetes.io/component: observability
    app.kubernetes.io/instance: parca
    app.kubernetes.io/name: parca
    app.kubernetes.io/version: v0.24.2
  name: parca
  namespace: parca
  resourceVersion: "3055939"
  uid: 895d0f9b-f1a8-4a75-a6e1-3e4353f86fbd
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/component: observability
      app.kubernetes.io/instance: parca
      app.kubernetes.io/name: parca
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/component: observability
        app.kubernetes.io/instance: parca
        app.kubernetes.io/name: parca
        app.kubernetes.io/version: v0.24.2
    spec:
      containers:
      - args:
        - /parca
        - --http-address=:7070
        - --config-path=/etc/parca/parca.yaml
        - --log-level=info
        - --cors-allowed-origins=*
        - --debuginfod-upstream-servers=debuginfod.systemtap.org
        - --debuginfod-http-request-timeout=5m
        image: ghcr.io/parca-dev/parca:v0.24.2
        imagePullPolicy: IfNotPresent
        livenessProbe:
          exec:
            command:
            - /grpc_health_probe
            - -v
            - -addr=:7070
          failureThreshold: 3
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: parca
        ports:
        - containerPort: 7070
          name: http
          protocol: TCP
        readinessProbe:
          exec:
            command:
            - /grpc_health_probe
            - -v
            - -addr=:7070
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - mountPath: /etc/parca
          name: config
        - mountPath: /var/lib/parca
          name: data
      dnsPolicy: ClusterFirst
      nodeSelector:
        kubernetes.io/os: linux
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        fsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile:
          type: RuntimeDefault
        supplementalGroups:
        - 65534
      serviceAccount: parca
      serviceAccountName: parca
      terminationGracePeriodSeconds: 120
      volumes:
      - configMap:
          defaultMode: 420
          name: parca
        name: config
      - emptyDir: {}
        name: data
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-12-29T13:47:34Z"
    lastUpdateTime: "2025-12-29T16:06:35Z"
    message: ReplicaSet "parca-54c59bc746" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2025-12-31T11:41:41Z"
    lastUpdateTime: "2025-12-31T11:41:41Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 2
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
