server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: aiops-genai-jira
          uri: lb://petclinic-aiops-genai-jira
          predicates:
            - Path=/aiops/**
